*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static
.hg*
0]
t*e/**/*
t*e2/**/*
t*e3/**/*
t*e4/**/*
*.bat
t*e5/**/*
t*e6/**/*
t*e7/**/*
t*e8/**/*
t*e9/**/*
*.swp
*.swp
*.swp
*.swp
tem*/*
tez*/*
t*1/*
